{% extends 'base.html' %}

{% block title %}
    treedo - todo
{% endblock %}

{% block main %}
    <div>

        <div class="card mb-4">
            <header class="card-header">
                <p class="card-header-title"> {{ todo.task }} </p>
            </header>

            <div class="card-content">
                <div class="menu">
                    <ul class="menu-list">
                        {% for todo in todo.todo_set.iterator %}
                            <li>
                                <a href="{% url 'todo_detail' todo.pk %}"> {{ todo.task }} </a>
                                <ul>
                                    {% for child_todo in todo.todo_set.iterator %}
                                        <li>
                                            <a href="{% url 'todo_detail' child_todo.pk %}"> {{ child_todo.task }} </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>



    </div>
{% endblock %}