<div class="uk-section uk-section-xsmall uk-padding-remove-vertical uk-background-primary uk-light">
    <nav class="uk-navbar-container uk-container uk-navbar-transparent" uk-navbar>
        <div class="uk-navbar-left">

            <ul class="uk-navbar-nav">

                <li class="uk-active">
                    <a href="#"> <span uk-icon="icon: git-branch" class="uk-margin-xsmall-right"></span> treedo</a>
                </li>

                {#            <li><a href="#">Item</a></li>#}

            </ul>

        </div>

            <div class="uk-navbar-right">

                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="#">Active</a></li>
                    <li><a href="#">Item</a></li>
                </ul>

            </div>

    </nav>
</div>