{% extends 'base.html' %}

{% block title %}
    treedo - create label
{% endblock %}

{% block main %}
    <form action='{% url 'create_label' %}' method='POST'>
        {% csrf_token %}

        <fieldset class="uk-fieldset">

            <legend class="uk-legend">Create a new label</legend>

            {% for field in form %}
                <div class="uk-margin">
                    {{ field.as_widget }}
                </div>
            {% endfor %}

            <div class="uk-margin">
                <button type="submit" class="uk-button uk-button-primary">create</button>
            </div>

        </fieldset>
    </form>
{% endblock %}