{% extends 'base.html' %}

{% block title %}
    treedo - label index
{% endblock %}

{% block main %}
    <div>

        <h1> Your labels </h1>
        <p>Labels are root for todo, top level todo can be created underneath label</p>

        {% for label in labels %}
            <a class="uk-link-reset" href="{% url 'label_detail' label.pk %}">
                <div class="uk-margin-top">
                    <div class="uk-card uk-card-primary uk-card-hover uk-card-body uk-light uk-card-small">
                        <span class="uk-h3 uk-card-title fontastic">{{ label.title }}</span>
                        <p>{{ label.description }}</p>
                    </div>
                </div>
            </a>
        {% endfor %}

        <div class="uk-margin">
            <a class="uk-button uk-button-secondary uk-width-1-1" href="{% url 'create_label' %}">create a new label</a>
        </div>

    </div>
{% endblock %}